* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #eee;
    font-family: sans-serif;
}

main {
    min-width: 320px;
    max-width:900px;
    margin: 0 auto;
}
header{
    position: fixed;
    top:0;
    left: 0;
    background-color: #eee;
    height:80px
}

#header {
    display:flex;
    width: 100%;
}

#header-img {
    margin-left: 80px;
    margin-top: 5px;
}

#nav-bar{
    width: 100%;
    margin-left: 30px;
    display: flex;
    align-items: flex-end;
    justify-content:flex-end
}

#nav-bar > ul  {
    display:flex;
    flex-flow: row;
    list-style-type: none;
   
    }

#nav-bar > ul >li {
    padding-right: 30px;
    text-decoration: dashed;
    
    
} 

.nav-link {
    color: black;
    font-size: 18px;
  }

a:hover {
    color: rgb(125, 125, 248);
}

#features {
    text-align: center;
    width: 100%;
    height:150px;
    margin-top:150px;
}
#form-title h2 {
    margin-top:20px;
}
#form  {
    padding:20px;
    display:flex;
    justify-content:center;
    flex-flow: column;
    min-width:auto;
    max-width: 300px;
    margin: 0 auto;
    
}
#email {
    height:20px;
    outline:none;
}

#submit {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px auto;
    border: 0;
    background-color: #f1c40f;
    cursor: pointer;
}

#submit:hover {
    background-color:#d6af10;
}
.grid {
    text-align:center;
    width: 100%;
    margin-bottom: 20px;
}
.grid > h2 {
    margin-top:30px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content:center;
    height:125px;
    width:20vw;
    color: darkorange;
}

.video-section {
    display:flex;
    justify-content:center;
    margin-top:40px;
}

#pricing{
    display:flex;
    justify-content:center;
    width: 100%;
    margin-top: 60px;
}
.product {
    border: solid 1px black;
    border-radius:3px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction:column;
     min-width: auto;
    max-width:300px;
    width: 100%;
    margin:10px;
   
}

.product > h2 {
    margin-top:15px;
}
.level {
    background-color:#ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
.product > ol >li {
    
    padding:5px 0;
}

li {
    list-style: none;
    display: list-item;
    margin-top:10px;
}

.product > button {
    border:0;
    margin: 15px 0;
    background-color:#f1c40f;
    font-weight: 400;
}

.btn {
    padding:0 20px;
    height:40px;
    font-size:1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius:2px;
    background:transparent;
    cursor:pointer;
}

.btn:hover {
    background-color:#d6ad07;
}

footer {
    margin-top: 30px;
    background-color:#ddd;
    padding: 20px;
    display:flex;
    justify-content: center;
}
footer > ul {
    display: flex;

}

footer > ul > li {
    display: flex;
    padding:0 10px;
}